.git
.github
.idea
.vscode
.env
.env.*
!.env.production.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.phpunit.result.cache
README.md
docker-compose*.yml
compose*.yml
